In [1]:
import pyarrow
from pyarrow.csv import read_csv
from pandas import DataFrame, read_csv
import numpy as np
from numpy import random

In [3]:
for n in range(1, 64, 1):
    # float data
    N = 10**n
    df = DataFrame({
        f'num{i}': np.random.normal(loc=10000, scale=10, size=N) for i in range(1000)

    })

    df.to_csv(f'./{N}_test.csv')

In [7]:
df.head()

,num0,num1,num2,num3,num4,num5,num6,num7,num8,num9,...,num90,num91,num92,num93,num94,num95,num96,num97,num98,num99
0,10009.322422,10005.761196,10011.041771,9992.694524,10006.717946,9998.437267,10004.884927,9996.497731,9997.877795,10014.050641,...,9983.724614,9999.275988,9994.079134,10012.315507,10006.729136,10000.346258,9992.979852,10002.681374,9999.103166,9986.163671
1,10012.793745,10004.391720,9996.175314,10002.108222,9996.868078,10004.233953,10011.886376,9986.771494,10013.038451,10011.039089,...,9994.814846,9988.557358,10007.081566,9990.064405,9986.501688,9990.425477,10009.542316,10009.842328,9994.197750,10002.096706
2,9988.857097,10004.034726,9994.011463,10003.470123,10011.935413,9996.966858,10004.860464,9994.471676,10003.409555,10003.902767,...,9994.610601,9995.179142,9998.333552,10000.905948,9995.304245,9991.634602,10002.394357,10006.773440,9989.624385,9996.401979
3,10006.190673,10001.684236,9989.110171,9994.179655,9984.037388,9990.644656,9996.729715,10002.757978,9983.740426,9996.495262,...,10006.101561,10001.659506,9997.873017,9997.898941,10001.116571,10025.910004,9994.569161,10007.258481,9979.881470,10003.118093
4,10003.113078,10014.321705,10019.227332,9997.844719,10004.345396,10000.589766,9999.025137,10008.892711,10006.179461,10016.247246,...,9984.730892,9993.277325,9997.119435,10001.874455,10019.119974,9996.883425,10001.814206,9993.710912,9990.170320,9988.773851

# Tests
## Loading a Large File

In [4]:
from time import sleep
from tqdm import tqdm, trange
from collections import defaultdict
from datetime import datetime as dt

In [5]:
# pandas
n_iter = 50 # repeat 50 times
pandas_times = defaultdict(list) 
for size in [10, 100, 1_000, 10_000, 100_000, 1_000_000]:
    times = []
    for _ in trange(n_iter, leave=False, desc=str(size)):
        t_start = dt.now() 
        data = read_csv(f'./{size}_test.csv')
        t_end = dt.now()
        t_diff = t_end - t_start
        times.append(t_diff)

    pandas_times[size] = times

In [10]:
import pickle

with open('pandas_times.pickle', 'wb') as f:
    pickle.dump(pandas_times, f, protocol=pickle.HIGHEST_PROTOCOL)

In [22]:
# pyarrow
from pyarrow import csv
n_iter = 50 # repeat 50 times
pyarrow_times = defaultdict(list) 
for size in [10, 100, 1_000, 10_000, 100_000, 1_000_000]:
    times = []
    for _ in trange(n_iter, leave=False, desc=str(size)):
        t_start = dt.now() 
        data = csv.read_csv(f'./{size}_test.csv')
        t_end = dt.now()
        t_diff = t_end - t_start
        times.append(t_diff)

    pyarrow_times[size] = times

1000000:   0%|          | 0/50 [00:00<?, ?it/s]

In [ ]:

with open('pyarrow_times.pickle', 'wb') as f:
    pickle.dump(pyarrow_times, f, protocol=pickle.HIGHEST_PROTOCOL)